main {
    grid-template:
        "profile newtoken" auto
        "profile rights" auto
        "profile tokens  " 1fr
        / 1fr 1fr;
    place-items: start stretch;
}

@media(max-aspect-ratio: 1) {
    main {
        grid-template:
            "profile" auto
            "rights" auto
            "newtoken" auto
            "tokens" auto
            / 1fr;
    }
}

::deep #profile {
    grid-area: profile;
}

::deep #newtoken {
    grid-area: newtoken;
}

::deep #tokens {
    grid-area: tokens;
}

::deep #rights {
    grid-area: rights;
}