@inherits LayoutComponentBase
@using Conesoft.Blazor.Components
@using Conesoft.PwaGenerator

<PageTitle>Conesoft</PageTitle>
<head>
    <HtmlHead />
    <PwaHeaderTags />
</head>

<SectionOutlet SectionName="Header">
</SectionOutlet>
@* <UserHeaderNav NoUserLogin="true">
    <NavLink href="" Match="NavLinkMatch.All">⌂ conesoft</NavLink>
</UserHeaderNav> *@
@Body
<footer>
    <p>&copy; 2023</p>
    <p>written by <a href="https://davepermen.net">davepermen</a></p>
    <p>a <a href="https://conesoft.net">conesoft product</a></p>
</footer>
