@page "/"

<main>
    <AuthorizeView>
        <Authorized>
            <UserSettings />
        </Authorized>

        <NotAuthorized>
            <RegisterWithTokenMultistep />
        </NotAuthorized>
    </AuthorizeView>
</main>