<SectionContent SectionName="Header">
    <UserHeaderNav NavClass="breadcrumbs" NoUserLogin="true">
        <HomeButtonContent>⌂</HomeButtonContent>
        <NavContent>
            <NavLink>conesoft</NavLink> ▸ <NavLink href="" Match="NavLinkMatch.All">user access</NavLink>
        </NavContent>
    </UserHeaderNav>
</SectionContent>

<CascadingValue Value="@NextStep">
    @switch (registrationStep)
    {
        case RegistrationStep.WaitingForToken:
            <section title="enter your token to create an account">
                <EnterToken />
            </section>

            <section title="or login with your existing user account">
                <Login />
            </section>
            break;

        case RegistrationStep.TokenOkWaitingForRegistration:
            <section title="register your account">
                <Register />
            </section>
            break;
    }
</CascadingValue>

@code {
    enum RegistrationStep
    {
        WaitingForToken,
        TokenOkWaitingForRegistration
    }
    private RegistrationStep registrationStep = RegistrationStep.WaitingForToken;

    void NextStep()
    {
        registrationStep++;
        StateHasChanged();
    }
}