<form method=post action=/user/register>
    <input type=text name=username placeholder=username>
    <input type=password name=password placeholder=password>
    <input type=hidden name=redirectto value='/'>
    <input type=submit value=register>
</form>