<SectionContent SectionName="Header">
    <UserHeaderNav NavClass="breadcrumbs">
        <HomeButtonContent>⌂</HomeButtonContent>
        <NavContent>
            <NavLink>conesoft</NavLink> ▸ <NavLink>settings</NavLink> ▸ <NavLink href="" Match="NavLinkMatch.All"><Username /></NavLink>
        </NavContent>
    </UserHeaderNav>
</SectionContent>

<section id="profile">
    <header>change user profile image</header>
    <ChangeUserProfile />
</section>

<section id="newtoken">
    <header>generate new tokens</header>
    <ul>
        <GenerateToken TokenName="user" TokenPrefix="cnsft" Role="CanCreateNewUserTokens" />
        <GenerateToken TokenName="minecraft" TokenPrefix="mncft" Role="CanCreateMinecraftTokens" />
    </ul>
</section>

<section id="tokens">
    <header>copy token by click</header>
    <ListTokens />
</section>