@using Conesoft.PwaGenerator

<!DOCTYPE html>
<html lang="en">

<head>
    <HtmlHead />
    <PwaHeaderTags />
</head>
<body>
    <SectionOutlet SectionName="Header" />
    <Routes />
    <BootBlazor />
</body>

</html>
