@inject UserTokenStorage userTokenStorage

<AuthorizeView Roles="@Role">
    <Authorized>
        <button @onclick=Generate>@TokenName</button>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    [Parameter]
    public string TokenPrefix { get; set; } = "";

    [Parameter]
    public string TokenName { get; set; } = "";

    [Parameter]
    public string Role { get; set; } = "";

    public async void Generate()
    {
        if(await authenticationState.GetUserName() is string user)
        {
            var token = Utilities.TokenGenerator.CreateToken(withPrefix: TokenPrefix);
            var file = userTokenStorage.For(user) / Filename.FromExtended(token);
            await file.WriteText("");
        }
    }
}