<form method=post action=/user/login>
    <input type=text name=username placeholder=username>
    <input type=password name=password placeholder=password>
    <input type=hidden name=redirectto value='/'>
    <input type=submit value=login>
</form>