<SectionContent SectionName="Header">
    <UserHeaderNav NavClass="breadcrumbs" NoUserLogin="true">
        <NavLink href="" Match="NavLinkMatch.All">⌂</NavLink>
        <NavLink>conesoft</NavLink> ▸ <NavLink href="" Match="NavLinkMatch.All">user access</NavLink>
    </UserHeaderNav>
</SectionContent>

<CascadingValue Value="@NextStep">
    @switch (registrationStep)
    {
        case RegistrationStep.WaitingForToken:
            <section>
                <header>enter your token to create an account</header>
                <EnterToken />
            </section>

            <section>
                <header>or login with your existing user account</header>
                <Login />
            </section>
            break;

        case RegistrationStep.TokenOkWaitingForRegistration:
            <section>
                <header>register your account</header>
                <Register />
            </section>
            break;
    }
</CascadingValue>

@code {
    enum RegistrationStep
    {
        WaitingForToken,
        TokenOkWaitingForRegistration
    }
    private RegistrationStep registrationStep = RegistrationStep.WaitingForToken;

    void NextStep()
    {
        registrationStep++;
        StateHasChanged();
    }
}