<CascadingValue Value="@NextStep">
    @switch (registrationStep)
    {
        case RegistrationStep.WaitingForToken:
            <section id="title">
                <h1>user access</h1>
            </section>

            <section>
                <fieldset>
                    <legend>enter your token to create an account</legend>
                    <EnterToken />
                </fieldset>
            </section>

            <section>
                <fieldset>
                    <legend>or login with your existing user account</legend>
                    <Login />
                </fieldset>
            </section>
            break;

        case RegistrationStep.TokenOkWaitingForRegistration:
            <section id="title">
                <h1>user account creation</h1>
            </section>

            <section>
                <fieldset>
                    <legend>register your account</legend>
                    <Register />
                </fieldset>
            </section>
            break;
    }
</CascadingValue>

@code {
    enum RegistrationStep
    {
        WaitingForToken,
        TokenOkWaitingForRegistration
    }
    private RegistrationStep registrationStep = RegistrationStep.WaitingForToken;

    void NextStep()
    {
        registrationStep++;
        StateHasChanged();
    }
}