<h1>user settings for <Username /></h1>

<fieldset horizontal>
    <legend>generate new tokens</legend>
    <GenerateToken TokenName="user" TokenPrefix="cnsft" Role="CanCreateNewUserTokens" />
    <GenerateToken TokenName="minecraft" TokenPrefix="mncft" Role="CanCreateMinecraftTokens" />
</fieldset>
<label>
    copy token by click
    <ListTokens />
</label>

<label>
    logout of account
    <Logout />
</label>
