<h1>user settings for <Username /></h1>
<label>
    current active tokens by you
    <GenerateToken />
</label>
<label>
    copy token by click
    <ListTokens />
</label>

<label>
    logout of account
    <Logout />
</label>
