@inherits LayoutComponentBase

<header>
    <h1>Conesoft Users</h1>
    <nav>
        <menu horizontal>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </menu>
    </nav>
</header>

<main centered thin>
    @Body
</main>

<footer>
    <p>&copy; @DateTime.Today.Year by <a href="https://davepermen.net">davepermen</a></p>
</footer>