<!doctype html>
<html>
<head>
    <title>Conesoft Tasks</title>
    <style>
        html {
            background-color: black;
            font-family: monospace;
            color: white;
            min-height: 100%;
            min-width: 100%;
        }
        input {
            font-family: inherit;
            font-weight: inherit;
        }
        a {
            color: aquamarine;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>
